@import-normalize; /* bring in normalize.css styles */
@import url('/src/stylesheet/fonts.css');
@import './sass/utils/variables';
@import './sass/utils/mixins';
@import './sass/utils/container';
@import './sass/utils/helpers';

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img {
  display: block;
}

ul {
  list-style: none;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Circe-Regular', sans-serif;
}

section {
  min-width: 320px;
}
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
table {
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
}
